<html>
  <head>
	<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Play&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coming+Soon&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin&v1' rel='stylesheet' type='text/css'>
    
    
	<link type="text/css" href="css/redmond/jquery-ui-1.8.13.custom.css" rel="Stylesheet">	
	<link type="text/css" href="css/client.css" rel="Stylesheet">	
	<script>
	WEB_SOCKET_DEBUG = true; 
	</script>
    <script type="text/javascript" src="js/swfobject.js"></script>
    <script type="text/javascript" src="js/web_socket.js"></script>    
    
	<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript" src="js/liscroll.1.0.js"></script>
	<script type="text/javascript" src="js/client.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="cell">
  	    <div id="client-region">
          <div id="debug"></div>
          <div id="scrolling-region">
            Actors are taking the stage. <img src="connecting.png" alt="connecting"></img>
          </div>
          <form id="command-line-form">
      	  <input type="text" name="command_line" id="command-line" class="text">
          </form>
	    </div>
	  </div>
	</div>
  </body>
</html>