<html>
  <head>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
    <script>
      $(document).ready(function(){
        function debug(str){ $("#debug").append(str+"<br"); };
        function scroll(str) { 
	      $("#scrolling_region").append(str+"<br>"); 
	      $(document.body).animate({ scrollTop: document.body.clientHeight }, 1);
	    };

        ws = new WebSocket("<%= 'ws://'+host+':8080' %>");

        ws.onmessage = function(e) { scroll(e.data); };
        ws.onclose = function() { debug("socket closed"); };
        ws.onopen = function() { debug("Connected."); };
      });

	  function CommandSubmit() {
	    // Send what's in our input buffer to the mud. 
        ws.send(document.forms["input"]["user_input"].value);
        document.forms["input"]["user_input"].value='';
		return false;
	  }
    </script>
  </head>
  <body>
    <div id="debug" style="text-align: center ;width:100%; background-color: silver;"></div>
    <div id="scrolling_region" style="margin:20px"></div>
    <div style="position: fixed;bottom: 0px;height:21px;">
      <form name="input" onSubmit="return CommandSubmit();">
        <input type="text" name="user_input">
	  </form>
	</div>
  </body>
</html>