body {
	background-size: 100%;
	background-image: url('/fantasy.jpg');
/*    text-shadow: 2px 2px 2px #aaa; */
}

.ui-dialog-title { 
  float:none !important; 
  display: block; 
  text-align: center; 
} 

/* chat styles */
.say {
	text-shadow: 2px 2px 2px #aaa;
	color: cyan;
}

#who {
	text-align: center;
	text-shadow: 2px 2px 2px #aaa;
	font-family: 'Cabin', arial, serif;
}

.coming_soon {
	font-family: 'Coming Soon', arial, serif;
}

#wrapper {display:table; width:100%; height:100%;}
#cell {height:100%;display:table-cell; vertical-align:middle;}

.creation label, input { display:block;}

label, input { display:inline; font-family: play; font-size:19px;}
input.text { margin-bottom:12px; width:95%; padding: .4em; }

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { margin:0px;border: 1px solid transparent; padding: 0.0em; font-family: Play; font-size: 15px;}
form { margin-bottom: 0px;}
fieldset {margin-top: 0px;}

#command-line {
	display:none;
	position: absolute; bottom: 0;
}

#login-screen {
	font-family: Cabin Sketch, 'PT Serif', Arial;
}

#login-screen h1 {
	font-size: 20px;
}

#login-screen h2 {
	font-size: 16px;
}

.credits {
	color: grey;
}

.logo {
	text-shadow: 4px 4px 4px #bbb;
	color: black;
	font-family: 'Cabin Sketch', arial, serif;
}

#scrolling-region {
	font-size: 17px;
	font-family: 'PT Serif', Arial;
	margin:10px; 
	margin-bottom:40px;
	overflow:auto;
}

#debug {
    text-align: center;
    background-color: black;
    color: white;
}

#client-region {
	position:relative;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-family: Play;
	width: 700px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:2px dashed #333;
	background-color: white;
	overflow: auto;
	box-shadow: 10px 10px 5px black;
}

fieldset { padding:0; border:0; margin-top:25px; }


/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
border: 1px dotted red;
background: #fff; 
width: 100%; 
height: 27px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;
width: 100%;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 100%;
font: bold 12px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: #fff;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px Verdana;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
}