.random-interface {
  background-color: white;
  margin: 0px auto;
  text-align:left;
	width: 50px;
}

.outter-random-interface {
  width: 400px;
  height: 350px;
  border:1px dotted blue;
  display: table-cell;
  vertical-align: middle;
}